.sidebar {
  height: 100%;
  width: 5rem;
  color: #fff;
  background-color: #354EB4;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  .logo {
    width: 2.8rem;
    height: 2.8rem;
  }
  .icon {
    vertical-align: middle;
  }
}
